.main {
  background: url("../img/ales-nesetril-Im7lZjxeLhg-unsplash.jpg")
    no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.container {
  padding-top: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.startBtn {
  border: none;
  background-color: rgba(255, 165, 0, 0.8);
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bolder;
}

.startBtn:hover {
  background-color: rgba(255, 165, 0, 1);
}

.intro {
  text-align: center;
  color: white;
}
